.env
.plugins\__pycache__
plugins\__pycache__
plugins\*.pyc
plugins\*.pyo
.venv
venv
.__pycache__
test.py
.vscode
plugins/__pycache__/ai_chat.cpython-312.pyc
plugins/__pycache__/db.cpython-312.pyc
plugins/__pycache__/fsub.cpython-312.pyc
